Node-RED Flows/car-sensor.json
[{"id":"894deaa5.872a08","type":"mqtt out","z":"9eee7f27.b6382","name":"","topic":"sensors/child","qos":"0","retain":"","broker":"a526699d.2d7bf8","x":590,"y":100,"wires":[]},{"id":"68cec3.8eb5313c","type":"function","z":"9eee7f27.b6382","name":"Child Status","func":"msg.payload.status = Math.round(Math.random());\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":100,"wires":[["894deaa5.872a08"]]},{"id":"ffc10e4b.8a586","type":"inject","z":"9eee7f27.b6382","name":"","props":[{"p":"payload.status","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"sensors/child","payloadType":"str","x":140,"y":100,"wires":[["68cec3.8eb5313c"]]},{"id":"d263e538.9a6cd8","type":"debug","z":"9eee7f27.b6382","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":320,"wires":[]},{"id":"fc0a3f8e.34b05","type":"http request","z":"9eee7f27.b6382","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://docker.for.mac.localhost:3001/child","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":220,"wires":[[]]},{"id":"dbad7248.2decb","type":"change","z":"9eee7f27.b6382","name":"","rules":[{"t":"set","p":"payload.id","pt":"msg","to":"03011975","tot":"num"},{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":220,"wires":[["fc0a3f8e.34b05","d263e538.9a6cd8"]]},{"id":"b25f95c1.cbe958","type":"mqtt in","z":"9eee7f27.b6382","name":"","topic":"sensors/child","qos":"0","datatype":"json","broker":"a526699d.2d7bf8","x":120,"y":220,"wires":[["dbad7248.2decb"]]},{"id":"a526699d.2d7bf8","type":"mqtt-broker","z":"","name":"","broker":"http://docker.for.mac.localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]