Node-RED Flows/child-sensor.json
[{"id":"def1c060.5f6b9","type":"inject","z":"b570d0b2.26104","name":"","props":[{"p":"payload.status","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"sensors/car","x":130,"y":60,"wires":[["340013fc.3b9a0c"]]},{"id":"340013fc.3b9a0c","type":"function","z":"b570d0b2.26104","name":"Car Status","func":"msg.payload.status = Math.round(Math.random());\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":60,"wires":[["f0801101.ef3e4"]]},{"id":"f0801101.ef3e4","type":"mqtt out","z":"b570d0b2.26104","name":"","topic":"sensors/car","qos":"0","retain":"","broker":"a526699d.2d7bf8","x":590,"y":60,"wires":[]},{"id":"9c503185.00239","type":"mqtt in","z":"b570d0b2.26104","name":"","topic":"sensors/car","qos":"0","datatype":"json","broker":"a526699d.2d7bf8","x":120,"y":180,"wires":[["ae9e3658.355d18"]]},{"id":"ae9e3658.355d18","type":"change","z":"b570d0b2.26104","name":"","rules":[{"t":"set","p":"payload.id","pt":"msg","to":"03011975","tot":"num"},{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["3fc044a6.e0e48c","f677feab.d93c9"]]},{"id":"3fc044a6.e0e48c","type":"http request","z":"b570d0b2.26104","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://docker.for.mac.localhost:3001/car","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":180,"wires":[[]]},{"id":"f677feab.d93c9","type":"debug","z":"b570d0b2.26104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"a526699d.2d7bf8","type":"mqtt-broker","z":"","name":"","broker":"http://docker.for.mac.localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]