Node-RED Flows/temperature-sensor.json
[{"id":"73d237b.446d9c8","type":"change","z":"a20a7f1c.4a6ad","name":"","rules":[{"t":"set","p":"payload.id","pt":"msg","to":"03011975","tot":"num"},{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[["956917bb.fc1048"]]},{"id":"3549eeab.dbabb2","type":"mqtt in","z":"a20a7f1c.4a6ad","name":"","topic":"sensors/temp","qos":"0","datatype":"json","broker":"a526699d.2d7bf8","x":110,"y":220,"wires":[["73d237b.446d9c8"]]},{"id":"956917bb.fc1048","type":"http request","z":"a20a7f1c.4a6ad","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://docker.for.mac.localhost:3001/temperature","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":220,"wires":[["ac578f45.5a74d"]]},{"id":"ac578f45.5a74d","type":"debug","z":"a20a7f1c.4a6ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"5e9f1984.4c8c78","type":"inject","z":"a20a7f1c.4a6ad","name":"","props":[{"p":"payload.temperature","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"sensors/temp","x":130,"y":100,"wires":[["a4f963c9.6a2ba"]]},{"id":"a4f963c9.6a2ba","type":"function","z":"a20a7f1c.4a6ad","name":"Temps","func":"msg.payload.temperature = Math.floor(Math.random() * 120);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":100,"wires":[["de7e66fb.9670e8"]]},{"id":"de7e66fb.9670e8","type":"mqtt out","z":"a20a7f1c.4a6ad","name":"","topic":"sensors/temp","qos":"0","retain":"","broker":"a526699d.2d7bf8","x":520,"y":100,"wires":[]},{"id":"a526699d.2d7bf8","type":"mqtt-broker","z":"","name":"","broker":"http://docker.for.mac.localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]